
:root{
    background-color: rgb(234, 234, 234);
}
*{
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
section{
    margin: 55px auto;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    margin: 15px;
}
h4{
    font-size: 1.25rem;
    padding-top: 10px;
}
h5{
    font-size: 1.15rem;
    font-weight: 600;
    padding-top: 5px;
    word-wrap: break-word;
}
h7{
    font-size: 0.85rem;
    font-weight: 700;
}
p{
    line-height: 25px;
    text-align: justify;
   font-weight: 700;
}

/* Header */
.navbar{
    position: inherit;
    background-color: transparent;
    display: flex;
    width: 100%;
    padding: 1rem 3rem;
    flex-direction: row-reverse;
}

.navbar .logo{
    font-size: 2rem;

}

.nav-links{
    position: absolute;
    width: 100vw;
    height: 100vw;
    flex-direction: column;
    background-color: transparent;
    font-size: 30px;
    margin: 0 -20px;
    z-index: 10;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s;
}
.navbar .menu .ml{
    cursor: pointer;
    font-size: 2rem;
    transform: translate(-10px);
    transition: color0.3s;
}
/* Header */

/* < MAIN > */

/* <Portada/>*/
.portada{
    width: 80%;
    display: flex;
    align-items: center;
    margin: 30px auto;
}
.port-izq{
display: flex;
}
.fotoyop{
    max-width: 500px;
}
.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1rem;
}
#rd1{
    font-size: 27px;
    margin-bottom: 20px;
}
#rd2{
    font-size: 25px;
}
.container-button{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.button-cv{
    background-color: #F38F1A;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    padding: 15px;
    border-radius: 30px;
    border-color: rgba(255, 255, 255, 0);
    font-weight: 700;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.13);
}
.button-label{
}
.button-label :hover{
}
.button-half-stoke{
    background-color: transparent;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: transparent;
}
.sd{

    width: 45px;
    height: 46px;
    display: flex;
    font-size: 21px;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: #F38F1A;
}
/* <Portada/> */

/*<Educacion/>*/
.edu-body{
    display: flex;
    justify-content: center;
}
.edu-izq{
    width: 65%;
    margin-left: 5%;
    margin-right: 5%;
}
.edu-cart{
    display: flex;
    padding: 30px;
    border-radius:20px;
    background-color: bisque;
    margin: 30px;
}
.edu-detalles{
    margin-left: 0.5rem;
}
.educart-img{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: #F38F1A;
}
.edu-der{
    width: 35%;
    box-sizing: border-box;
    pointer-events: none;
}
.edu-der>img{
    width: 100%;
}
.educación .line-styling{
    padding-bottom: 60px;
    position: relative;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.educación .line-styling .style-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.educación .line-styling .style-line {
    width: 95%;
    height: 5px;
    border-radius: 10px;
}
.edu-body{
    display:flex;
}
/*<Educacion/>*/

/*<Skills/>*/
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 60vh;
    /* padding: 2.5rem 2rem 2rem 2rem; */
}
.skills-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.skills-scroll{
    width: 100%;
    margin: 0 2rem;
}

.marquee-container{
    overflow-x: hidden ;
    display: flex ;
    flex-direction: row ;
    position: relative;
    width: 100%;
}
.marquee{
    padding: 60px 0px;
    flex: 0 0 auto;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.skill-box{
    background: #f1eaea;
    box-shadow: 0px 10px 20px rgba(202, 95, 24, 0.486);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 60px;padding-left: 60px;
    transition: 300ms ease-in-out;
}
.skill-box:hover{
    transform: scale(1.15);
}
.skill-box>img{
    height: 60px;
    pointer-events: none;
}
.skill-box>h5{
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    margin-top: 1rem;
}
/*<Skills/>*/

/*<Proyectos/>*/
.proyectos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
    margin-left: 7.52%;
    margin-right: 7.52%;
    padding: 60px 0;
}
.proyectos-item{
    background: white;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    font-size: 14px;
    border-radius: 20px;
}
.proyectos-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 1s;
    border-radius: 20px;
    max-height:250px;
}
.proyectos-descripcion{
    padding: 40px;
    position: absolute;
    background-color:  rgba(54, 49, 46, 0.274);
    top: 300px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.proyectos-item:hover .proyectos-descripcion{
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
    border-radius: 20px;
    transform: translateY(-300px);
}
.proyectos-item:hover .proyectos-img{
    transition: all 1s;
    border-radius: 20px;
    transform: scale(1.3);
}
.proyectos-descripcion-titulo{
    color:white;
    font-size: 20px;
    text-align: center;
}
.proyectos-descripcion-detalles{
    margin: 20px 0;
    color:white;
    text-align: center;
    font-size: 15px;
}
.buttons-container{
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
}
.button-ct{
    background: #191919;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
}
.button-ct:hover{
    color: blue;
}
/*<Proyectos/>*/

/*<Footer/>*/
footer{
    background-color:  #868383;
    padding: 20px;
    text-align: center;
    border-radius: 2rem 2rem 0 0;
}
h8{ 
    font-size: 1rem;
}
h9{ 
    font-size: 0.8rem;
}
.img-laptop{
    font-size: 50px;
}
/*<Footer/>*/